# Vendor
/vendor

# Dependencies
/node_modules

# Environment
.env

# Laravel
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/bootstrap/cache/*.php

carwash.sql
